div(class = ['bg-white'])
  section(class = ['container-lg', 'py-3', 'py-lg-5'])
    h2(class = ['visually-hidden']) Our Partners
    ul(
      class = [
        'list-unstyled',
        'd-flex', 'justify-content-center', 'gap-5', 'align-items-center',
        'flex-wrap',
      ]
    )
      li
        img(src = `${urlBase}/img/hooli.svg` alt = 'Hooli logo')
      li
        img(src = `${urlBase}/img/lyft.svg` alt = 'Lyft logo')
      li
        img(src = `${urlBase}/img/pied-piper-hat.svg` alt = 'Pied Piper hat logo')
      li
        img(src = `${urlBase}/img/stripe.svg` alt = 'Stripte logo')
      li
        img(src = `${urlBase}/img/aws.svg` alt = 'SVG logo')
      li
        img(src = `${urlBase}/img/reddit.svg` alt = 'Reddit logo')
